# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
.env/
*.env

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# IDE-specific files
.vscode/
.idea/

# Local testing files
*.sqlite3
*.db

# Webhook data file
webhook_user_notification_service/app/database_management/webhook_data.json